<main class="level-page">
  <div class="top-button">
    <a routerLink="/" class="button secondary-button">
      Tilbage til hovedsiden
    </a>
  </div>

  <section class="level-map">
    <header class="top">
      <div class="top-left">
        <img src="/Icons/CodeQuester.png" alt="CodeQuester logo" class="logo" />

        <select (change)="switchLanguage($event)">
          @for (language of languages; track language) {
            <option [value]="language" [selected]="language === chosenLanguage">
              {{ language }}
            </option>
          }
        </select>
      </div>

      <img
        [src]="getLanguageLogo()"
        [alt]="chosenLanguage + ' logo'"
        class="language-logo"
      />
    </header>

    <section class="levels">
      <div class="level-content">
        @if (levels.length === 0) {
          <p class="no-levels">Der er ingen levels endnu.</p>
        }

        @if (getTopLevels().length > 0) {
          <div class="level-row">
            @for (level of getTopLevels(); track level.id; let last = $last) {
              <a
                class="level"
                [class.locked]="!level.unlocked"
                [class.unlocked]="level.unlocked"
                [class.completed]="level.completed"
                [routerLink]="level.unlocked ? ['/levels', level.language, level.id] : null"
              >
                {{ level.id }}

                <img
                  [src]="getStatusIcon(level)"
                  [alt]="getStatusText(level)"
                  [class.status-icon]="level.unlocked"
                  [class.lock-icon]="!level.unlocked"
                />
              </a>

              @if (!last) {
                <p class="arrow">→</p>
              }
            }
          </div>
        }

        @if (getBottomLevels().length > 0) {
          <div class="arrow-down">↓</div>

          <div class="level-row">
            @for (level of getBottomLevels(); track level.id; let last = $last) {
              <a
                class="level"
                [class.locked]="!level.unlocked"
                [class.unlocked]="level.unlocked"
                [class.completed]="level.completed"
                [routerLink]="level.unlocked ? ['/levels', level.language, level.id] : null"
              >
                {{ level.id }}

                <img
                  [src]="getStatusIcon(level)"
                  [alt]="getStatusText(level)"
                  [class.status-icon]="level.unlocked"
                  [class.lock-icon]="!level.unlocked"
                />
              </a>

              @if (!last) {
                <p class="arrow">←</p>
              }
            }
          </div>
        }
      </div>
    </section>
  </section>
</main>