<main class="page-layout">
  <div class="top-button">
    <a routerLink="/" class="button primary-button"> Tilbage til hovedsiden </a>
    <button type="button" class="button secondary-button" (click)="resetLevels()"> RESET </button>
  </div>

  <section class="level-card">
    <header class="top">
      <img src="/Icons/CodeQuester.png" alt="CodeQuester logo" class="logo"/>

      <app-language-selector
        [languages]="languages"
        [chosenLanguage]="chosenLanguage"
        (languageChanged)="switchLanguage($event)"
      />
    </header>

    <app-level-map [levels]="levels()" />
  </section>
</main>