.level-card {
  width: min(1300px, 94vw);
  min-height: 65vh;
  padding: 25px 35px;

  display: flex;
  flex-direction: column;

  border: 3px solid var(--border);
  border-radius: 25px;
  background: var(--white);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  width: min(400px, 50%);
}

.loading-area {
  flex: 1;
  min-height: 350px;

  display: grid;
  place-items: center;
}