html,
body {
  min-height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #ceecff, #ebf6ff, #c3ffe9);
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.button {
  min-width: 160px;
  height: 45px;
  padding: 0 18px;
  display: grid;
  place-items: center;
  border: 2px solid #1689d9;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.primary-button {
  background-color: #1689d9;
  color: white;
}

.secondary-button {
  background-color: white;
  color: #1689d9;
}

.button:hover {
  opacity: 0.85;
}